@import "~bootstrap/dist/css/bootstrap.css";



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif),sans-serif;
}

* {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}





.console {
  /* background-color: rgb(0, 0, 0); */
  flex: 1;
  margin: 2px;
  padding: 2px;

  background-color: white;
}

.AlbumPlaylistView {
  /* background-color: white; */
  margin: 6px;
  padding: 2px;
  height: 100%;

  border-radius: 8px;

  background-color: grey;
}

.view-top {
  background-color: green;
  height: 230px;
  margin: 2px;
  padding: 4px;
  display:flex;
  flex: row;
  color: white;
}

.view-top-img {
  margin: 12px;
}


.view-top-info {
  display: flex;
  flex-direction: column-reverse;
  margin: 12px;
  margin-left: 9px;
  padding: 2px;
}



.song-list {
  display: flex;
  flex-direction: column;
}

.song-row {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;

  height: 60px;
}

.song-number,
.song-title,
.song-album {
  flex: 1;
}

.song-clock {
  font-family: "Arial", sans-serif;
}















.view-top-info-type {

}

.view-top-info-title {

}

.view-top-info-author {

}


.View-render-container {
  background-color: orange;
  margin: 2px;
  padding: 4px;
  height: 69%;

}

.View-render-keys {

}









.dashboard {
  display: flex;
  height: 100vh;
  padding: 2px;
  background-color: rgb(0, 0, 0);
}



.sidebar {
  width: 20%;
  margin: 6px;
  padding: 2px;
}

.sidebar-1 {
  height: 15%;
  margin: 2px;
  padding: 2px;
  border-radius: 8px;
  color: rgb(179, 179, 179);
  padding-bottom: 8px;
  padding-inline-start: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  border-color: rgb(179, 179, 179);background-color: rgb(18, 18, 18);
}
.s-1-nav {
  height: 50%;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  line-height: 25.6px;
  vertical-align: baseline;
}

.sidebar-2 {
  background-color: rgb(18, 18, 18);
  height: 85%;
  margin: 2px;
  margin-top: 8px;
  border-radius: 8px;
  color: rgb(179, 179, 179);
  padding-bottom: 8px;
  padding-inline-start: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}
.s-2-1 {
  height: 10%;
  margin: 2px;
  margin-bottom: 0px;
  padding: 8px;
}

.s-2-2 {
  display:flex;
  flex: row;
  justify-content: left;
  height: 29px;
  margin-bottom: 15px;
  padding-left: 6px;
}

.s-2-2-radio {
  color: rgba(255, 255, 255);
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 13px;
  border-color: rgb(255, 255, 255);
  line-height: 13px;
  width: 72px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-2-3 {
  height: 100%;
}

.sidebar-render {
  /* background-color: blue; */
  color: black;
  height:100%;
  width: 100%
}

.sidebar-item-container {
  /* background-color: white; */
  height: 65px;
  margin: 1px;
  display: flex;
  flex: row;
  padding: 2px;
}




.my-queue {
  background-color: blue;
  width: 40%;
  margin: 2px;
  padding: 2px;
}



