body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dashboard {
  display: flex;
  height: 100vh;
  margin: 2px;
  padding: 2px;
}

.sidebar {
  background-color: red;
  width: 20%;
  margin: 2px;
}

.console {
  background-color: green;
  flex: 1;
  margin: 2px;
}

.my-queue {
  background-color: blue;
  width: 30%;
  margin: 2px;
}
